#root {
	display: flex;
	padding: 0 10px;
	min-height: 100vh;
	justify-content: center;
}

.container {
	margin: 0 auto;
}

.navbar {
	top: 0;
	z-index: 1;
	width: 100%;
	height: 65px;
	position: sticky;
	align-items: center;
	justify-content: space-between;

	.logo {
		width: 200px;
		display: flex;
		align-items: center;

		* {
			margin: 0 0.25rem;
		}

		& > img {
			width: 50px;
			height: 50px;
			margin: 0;
		}
	}

	.header-items {
		display: flex;
		align-items: center;

		.nav-items {
			display: flex;
			flex-direction: row;

			a {
				margin-right: 1rem;
			}

			.header-services {
				cursor: pointer !important;
				margin-right: 1rem;
			}
		}
	}
}

.footer {
	width: 100%;
	padding: 2rem 0 1rem 0;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;

	@media (min-width: 780px) {
		flex-direction: row !important;
	}

	.hero-profile {
		max-width: 250px;
		max-height: 250px;
		margin: 0 0 1.5rem 0;

		@media (min-width: 780px) {
			margin: 0 8rem 0 0;
		}

		border-radius: 100%;
	}

	.hero-title {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width: 780px) {
			justify-content: flex-start;
		}
	}

	.hero-subtitle {
		display: flex;
		line-height: 1.4;
		margin-top: 0.5rem;
		justify-content: center;
		@media (min-width: 780px) {
			justify-content: flex-start;
		}
	}

	.hero-extra {
		text-align: center;
		@media (min-width: 780px) {
			text-align: start;
		}
	}

	.hero-actions {
		display: flex;
		margin-top: 0.75rem;

		justify-content: center;
		@media (min-width: 780px) {
			justify-content: flex-start;
		}

		.btn-gap {
			margin-right: 15px;
		}
	}
}

.main-section {
	display: flex;
	margin: 4rem 0;
	flex-direction: column;
}

.section {
	display: flex;
	margin: 2rem 0;
	flex-direction: column;

	.section-title {
		margin-bottom: 0.25rem;
	}

	.section-view {
		margin-top: 0.75rem;
	}
}

.project-card {
	height: 160px;

	.project-desc {
		height: 70px;
		padding: 1px 0 2px 0;
	}

	.project-tags {
		* {
			margin-right: 4px;
		}
	}
}

#stacks {
	.stack-badge {
		margin-right: 0.25rem;
	}
}

.stacks-tmi {
	padding: 0 1rem;

	li {
		margin: 0.4rem 0;
	}

	.list-circle {
		list-style: circle !important;
	}
}

button {
	cursor: pointer;
}
