#root {
	display: flex;
	padding: 0 10px;
	min-height: 100vh;
	justify-content: center;
}

.navbar {
	top: 0;
	width: 100%;
	height: 65px;
	position: sticky;
	align-items: center;
	justify-content: space-between;

	.logo {
		width: 200px;
		display: flex;
		align-items: center;

		* {
			margin: 0 0.25rem;
		}

		& > img {
			width: 50px;
			height: 50px;
			margin: 0;
		}
	}

	.nav-items {
		padding-left: 1rem;
	}
}

.footer {
	padding: 2rem 0 1rem 0;
}
