@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
	color-scheme: light dark;
	background-color: #ffffff;

	--sans: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont,
		system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	--heading: system-ui, "Segoe UI", Roboto, sans-serif;
	--mono: "JetBrains Mono", monospace;

	--md-ref-typeface-brand: var(--sans);
	--md-ref-typeface-plain: var(--sans);
	--md-sys-color-primary: #583dc2;

	font: 18px/145% var(--sans);
	letter-spacing: 0.18px;
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: #16171d;

		--md-sys-color-primary: #776cb6;
	}
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 320px;
	min-height: 100svh;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

h1, h2 {
	color: var(--text-h);
}
